<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Seq2 Server</h1>
    <p>Acces to the server</p>
    <hr>
    <form action="/ping" >
        Is the server alive?: <input type="submit" value="PING">
    </form>
<hr>
<form action="/get">
    Get a sequence. Select a sequence number:
    <select name="n_sequence">
        {% for n in range(0,context.n_sequences) %}
        <option value={{n}}>{{n}}</option>
        {% endfor %}
    </select>
    <input type="submit" value="GET">
</form>
<hr>
<form action="/gene">
    Get a sequence. Select a sequence number:
    <select name="gene">
        {% for n in context.genes %}
        <option value={{n}}>{{n}}</option>
        {% endfor %}
    </select>
    <input type="submit" value="GET">
</form>
<hr>
<form action ="/operation">
    Write a sequence:
  <input type="text" name="msg">
  <br>
  Select operation:
  <input type="radio" name="option" value="Info" checked> Info
  <input type="radio" name="option" value="Comp"> Comp
  <input type="radio" name="option" value="Rev"> Rev
  <br>
  Perform operation:
  <input type="submit" value="OPERATE"/>
</form>
</body>
</html>